

<h1>Home</h1>

<body>

<p>Bienvenue sur Akinator !</p>

<%= link_to( "Commencer le jeu !", games_path, method: :post, class: "btn btn-warning") %>

<div class="container">
			
	<div class="link">
		
	</div>
	<img src="https://vignette.wikia.nocookie.net/kingdomhearts/images/2/2f/Genie_KHREC.png/revision/latest?cb=20111024141553&path-prefix=fr" alt="Génie" class="genie"/>
	<div class= "time"> <%= Time.now.strftime("%d/%m/%y ") %></div>

</div>

</body>

